:root {
  color-scheme: light dark;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 1em;
  @supports not (-moz-user-select: none) {
    width: 30em;
  }
}
h1 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  font-weight: normal;
}
#feedsList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.feed-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.feed-bin {
  cursor: pointer;
  margin-right: 8px;
}
.feed-article {
  font-size: 0.9em;
  opacity: 0.7;
  margin-left: 1.5em;
}